/* 将所有标签初始化 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	background-color:#DAF2DA
}
ol, ul {
	list-style: none;
}
p{
	text-indent: 2em;  
}
a{
	color: #fff;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;  
}
/*container*/
#container{
	width:1200px; 
	margin: 0 auto; 
	position:relative; 
	background-color:#C0D9F4;	
}

/* header */
#header{
	width:100%; 
	height:80px; 
	position:relative; 
	background-color: #1E3A93;	
}
#header img{
	float:left; 
	height:80px; 
	margin-left: 110px;	
}
#header .logo{
	right:10px; 
	bottom:0px; 
	position:absolute; 
	height: 35px;	
}
#header ul{
	bottom:5px; 
	right:110px; 
	position:absolute;	
}
#header li {
	float:right; 
	list-style: none;
	margin-left: 28px;
	bottom: 5px; 
	font-size: 14px;
	color: #FFF;
}
@media screen and (max-width: 980px){
	#header .logo{
		visibility: hidden;			
	}
}
/*end header*/

/*start search*/
.search {
	padding: 20px; 
	height: 40px; 
	background-color: #fff; 
	margin-bottom: 10px;  
}	  
.search .searchBox{
	border: 1px solid #d6d6d6; 
	position: relative;   
}	 
.search .searchBox img{
	display:block; 
	height: 38px; 
	position:absolute; 
	top:1px;   
} 
.search .searchBox input{
	width: 220px; 
	height: 40px; 
	display: block; 
	float:left; 
	padding-left: 50px;
	border: 1px solid #d6d6d6;
}	  
.search .searchBox button{
	font-size: 24px; 
	position:absolute; 
	background-color:#7D9489; 
	height: 40px; 
	right:-1px; 
	border: none; 
	cursor: pointer;   
}
.search .searchBox input:focus{
	border: 1px solid #C0D9F4;				
}
.search .searchBox:after{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/*end search*/
/*footer*/
.footer {
	background-color: black; 
	position: relative; 
	text-align: center; 
	color: #fff;	
}
.footer .foot{
	display: inline-block;  
	margin: 10px 0; 
	position: relative; 
	font-size: 14px;	
}
.footer .foot li{
	display: inline;
	margin-right: 20px;		
}
.footer .about{
	position: relative; 
	border-top:1px solid #C7DCDD; 
	padding-top: 20px; 
	font-size: 14px	
}  
.footer table{
	text-align: left;
	margin: 20px auto 0 auto;
	padding-bottom: 50px;
}
.footer table th{
	padding-right: 110px;
	padding-bottom: 20px;
	font-weight: normal; 
}
.footer table li{
	margin-bottom: 10px;  
}
.footer p{
	margin:30px 0; 
	font-size: 14px; 
	text-indent: 0;	
}
.footer img{
	margin: 0 auto; 
	height: 50px;	
}
/* end footer*/